.page{
    text-align: right;
}
.page a{
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    margin-left: 6px;
    background-color: white;
}
.page a:hover,
.page a.current{
    background-color: #ec0044;
    color: #fff;
    border-color: #ec0044;
}
.page a.disabled{
    cursor: default;
}
.page a.disabled:hover{
    background-color: #fff;
    color: #666;
    border-color: #ddd;
}
.page .ellipsis{
    padding: 0 0 0 6px;
    display: inline-block;
}
.page label{
    padding: 0 0 0 16px;
}
.page-num{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 32px;
    text-align: center;
    height: 25px;
    margin: 0 8px;
}
.page-go{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 34px;
    text-align: center;
    height: 30px;
    margin: 0 0 0 8px;
    background-color: #fff;
    color: #aaa;
}