/*label {
    vertical-align: middle;
}*/

li,
ol,
ul {
	list-style: none
}

input[type="checkbox"]:before,
input[type="checkbox"]:hover:before,
input[type="checkbox"]:checked:before,
input[type="checkbox"]:checked:hover:before,
input[type="checkbox"][disabled]:before,
fieldset[disabled] input[type="checkbox"]:before,
input[type="checkbox"][disabled]:hover:before,
fieldset[disabled] input[type="checkbox"]:hover:before,
input[type="checkbox"][disabled]:checked:before,
fieldset[disabled] input[type="checkbox"]:checked:before,
input[type="checkbox"][disabled]:checked:hover:before,
fieldset[disabled] input[type="checkbox"]:checked:hover:before {
  display: inline-block;
  background-image: url(../img/sprites/checkbox.png);
}
input[type="checkbox"][disabled]:checked:before,
fieldset[disabled] input[type="checkbox"]:checked:before,
input[type="checkbox"][disabled]:checked:hover:before,
fieldset[disabled] input[type="checkbox"]:checked:hover:before {
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
input[type="checkbox"]:checked:before,
input[type="checkbox"]:checked:hover:before {
  background-position: -36px 0px;
  width: 16px;
  height: 16px;
}
input[type="checkbox"][disabled]:before,
fieldset[disabled] input[type="checkbox"]:before,
input[type="checkbox"][disabled]:hover:before,
fieldset[disabled] input[type="checkbox"]:hover:before {
  background-position: 0px -36px;
  width: 16px;
  height: 16px;
}
input[type="checkbox"]:hover:before {
  background-position: -36px -36px;
  width: 16px;
  height: 16px;
}
input[type="checkbox"]:before {
  background-position: -72px 0px;
  width: 16px;
  height: 16px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  outline: 0;
  cursor: pointer;
  /*vertical-align: top;*/
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 2px;
}
input[type="checkbox"][disabled]:before,
fieldset[disabled] input[type="checkbox"]:before,
input[type="checkbox"][disabled]:hover:before,
fieldset[disabled] input[type="checkbox"]:hover:before {
  cursor: default;
}
input[type="checkbox"] + .checkbox-text {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 8px;
}
.checkbox-item {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 16px;
}
.checkbox-item.block {
  margin-right: 0;
  margin-top: 16px;
}
