@import "_page.css";
@import "normalize.css";
@import "_base.css";
@import "sidebar.css";
@import "checkbox.css";

#conten-select {
	border: 0;
}


.conten-table {
	    height: 660px;
	    max-height: 660px;
	    margin: 20px auto;
	    overflow: auto;
	   /*padding-bottom: 10px;*/
	}

/*.conten-table-zs {
	height: 370px;
	max-height: 370px;
	margin: auto;
	overflow: auto;
}*/
/*td {
	white-space: nowrap;
}*/
.oTable {
    width: 98%;
    margin: 0 auto;
}

/*.oTable-zs {
	width: 1030px;
	margin: auto;
}*/

.oTable td,
.oTable-zs td {
	width: 160px;
	text-align: center;
}
.oTable input[type='checkbox'] {
				margin-left: 15px;
			}
.oTable tr td:first-child,
.oTable-zs tr td:first-child {
	width: 50px;
	height: 45px;
}

td.space {
    white-space: normal !important;
    width: 300px !important;
}

.open span a{
	color: #03A9F4;
}
.add-info {
	margin: 90px;
}

.add-info-zs {
	margin-top: 9px;
}

.add-info-zs {
	margin: 20px;
}

.add-info p {
	margin: 20px 0;
}

.add-info-zs p {
	margin: 15px 0;
}

.add-info-zs h1 {
	font-size: 16px;
}

.add-info p em,
.add-info-zs p em {
	display: inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
}

.add-info p em i,
.add-info-zs p em i {
	color: red;
	font-size: 16px;
}

.add-info input[type='text'],
.add-info-zs input[type='text'] {
	width: 200px;
	/*height: 20px;*/
}

.add-info input[type='radio']:nth-of-type(2),
.add-info-zs input[type='radio']:nth-of-type(2) {
	margin-left: 25px;
}

.add-info p select {
	width: 200px;
	height: 28px;
}

.add-info-btn {
	margin: 50px 140px;
}
.add-zs-btn{
	background-color: #f2f2f2;
	text-align: right;
	margin: 9px 0;
}
.add-info-btn span {
	display: inline-block;
	width: 60px;
	height: 20px;
	padding: 5px;
	text-align: center;
	border-radius: 6px;
	border: 1px solid #333333;
	margin: 20px 10px;
	cursor: pointer;
}

.add-zs-btn span {
    display: inline-block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #333333;
    cursor: pointer;
    margin-right: 10px;
}

.add-info-btn span:nth-of-type(1),
.add-zs-btn span:nth-of-type(1) {
	background-color: #333333;
	color: white;
}

.bs {
	margin-left: 15px;
	color: #999999;
}

.oh1 {
	font-size: 16px;
	margin-left: 20px;
	margin-bottom: 10px;
}