
			.header {
				background-color: rgba(102, 102, 102, 1);
				color: white;
			}
			
			.header-top {
				position: relative;
				height: 60px;
				margin: auto;
			}
			
			.header-top-l,
			.header-top-r {
				height: 35px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
			}
			
			.header-top-l {
				left: 25px;
			}
			
			.header-top-r {
				right: 25px;
			}
			
			.header-top-l span,
			.header-top-r span {
				display: inline-block;
				height: 30px;
				line-height: 30px;
				text-align: center;
				padding: 2px 10px;
				vertical-align: middle;
				cursor: pointer;
			}
			
			.enable {
				background-color: #0c9;
			}
			
			.plan {
				font-size: 18px;
				vertical-align: middle;
			}
			
			.header-top-r i {
				display: inline-block;
				width: 15px;
				vertical-align: middle;
			}
			
			.header-top-r i img {
				width: 100%;
			}
			
			.close i {
				width: 20px;
				height: 24px;
			}
			
			.header-middle {
				margin-left: 25px;
				margin-bottom: 15px;
			}
			
			.header-middle span {
				font-size: 14px;
			}
			
			.header-bottom {
				margin-left: 25px;
				padding-bottom: 5px;
			}
			
			.header-bottom-l {
				display: inline-block;
				width: 180px;
			}
			
			.use-img,
			.use-info {
				display: inline-block;
				vertical-align: middle;
				padding-left: 5px;
			}
			
			.central {
				width: 98%;
			    height: 750px;
			    max-height: 750px;
			    margin: 20px auto;
			}
			
			.central table {
				width: 100%;
				text-align: center;
				color: #0c9;
				border: 1px solid #bbbbbb;
			}
			
			.central table tr td {
				width: 128px;
			}
			
			.central table tr td:first-child,
			.central table tr td:first-child {
				width: 45px;
				height: 45px;
			}
