
/*@import "normalize.css";
@import "_page.css";
@import "sidebar.css";*/


/*.conten-table{
     max-height: 600px;
  overflow: auto;
   margin: auto;
}
.oTable td{
	width: 140px;
	text-align: center;
	
}
.oTable-header{
	margin-top: 47px;
	border-top: 0;
}
.oTable-header td{
	width: 140px;
	text-align: center;
	
}

.oTable-header tr td:first-child,
.oTable-header tr td:first-child{width:49px; height: 42px;}

.oTable tr td:first-child,
.oTable tr td:first-child{width:48px; height: 45px;}*/







