/*.wrap{
    width: 1200px;
    height: 840px;
    margin: 0 auto;
}*/
.wrap {
	    /*height: 840px;*/
	    margin: 0 auto;
	    /*z-index: 999;*/
	    min-width: 1200px;
	}
/*.sidebar{
    width: 140px;
    height: 100%;
    text-align: center;
    background-color: #3f4457;
    float:left;
}*/

.sidebar {
	    width: 140px;
	    height: 100%;
	    text-align: center;
	    background-color: #3f4457;
	    position: fixed;
	    left: 0;
	    z-index: 10;
	}


.sidebar-logo{
    width: 120px;
    padding: 30px 0;
    margin: auto;
    /*padding-top: 26px;
    padding-bottom: 40px;*/
}
.sidebar-logo img{
	width: 100%;
}
.sidebar-menu{
    position: relative;
    padding-top: 22px;
    padding-bottom: 16px;
    border-bottom: 1px solid #3f3f3f;
}
.sidebar-menu:hover{
    background-color: #515151;
}
.sidebar-menu:hover .menu-icon p a{
	color: #EC0044;
}
.sidebar-menu:first-child{
    border-top: 1px solid #3f3f3f;
}
.sidebar-menu:hover .menu-list{
    display: block;
}
.menu-list{
    position: absolute;
    top: 0px;
    left: 140px;
    width: 400px;
    padding: 12px 20px;
    z-index: 100;
    background-color: #515151;
    display: none;
}
.menu-list li{
    width: 116px;
    color: #eedead;

    padding-bottom: 22px;
    float: left;
}
.menu-list li a{
	color: #EEDEAD;
}
.menu-list li a.oColor_999{
    color: #999999;
}

/*---------*/
/*.conten{
    position: relative;
    width: 1060px;
    height: 100%;
    float:left;
}*/

.conten {
    margin-left: 140px;
    /*position: relative;*/
}


.conten-header{
    padding: 25px;
    border: 1px solid #d7d7d7;
}
.otitle {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.conten-header-r{
    float: right;
    height: 27px;
    line-height: 27px;
}
.conten-header-r span{
    padding-left: 20px;
    margin-left: 8px;
    vertical-align: middle;
}
.app{
    background: url(../img/state-app.png) 0 0 no-repeat;
    background-size: 16px;
}
.info{
    background: url(../img/state-info.png) 0 0 no-repeat;
    background-size: 16px;
}
.usr{
    background: url(../img/state-usr.png) 0 0 no-repeat;
    background-size: 16px;
}
.call{
    background: url(../img/state-call.png) 0 0 no-repeat;
    background-size: 16px;
}
.help{
    background: url(../img/state-help.png) 0 0 no-repeat;
    background-size: 16px;
}
.logout{
    background: url(../img/state-logout.png) 0 0 no-repeat;
    background-size: 16px;
}
.conten-dir{
	margin-top: 5px;
    padding: 12px;
    background-color: #f2f2f2;
    margin-top: 10px;
}

.conten-nav{
	width: 98%;
    height: 38px;
	border-bottom: 1px solid #BBBBBB;
	margin: auto;
}

.conten-nav li{
	width: 60px;
	height: 20px;
	padding: 8px 5px;
	/*border: 1px solid black;*/
	text-align: center;
	float: left;
}

.conten-nav li.active,.conten-nav li:hover{
	
	border-bottom: 3px solid #03A9F4;
}
.conten-nav li.active a,.conten-nav li:hover a{
	color: #EC0044;
}
.conten-search{
	width: 98%;
    margin: auto;
    padding: 30px 0;
}
.conten-search-header {
    width: 98%;
    position: relative;
    margin: auto;
    padding-bottom: 20px;
}
#conten-search-text,#conten-search-user,#conten-select{
margin: 0 10px;
padding: 2px;
}

.search-btn{
    display: inline-block;
    width: 30px;
    height: 20px;
    padding: 2px;
    border: 1px solid black;
    background: url(../img/search-btn.png) no-repeat;
    padding-left: 25px;
    text-align: center;
    background-position: left;
    border-radius: 7px;
    cursor: pointer;
}
.ostyle{
	display: inline-block;
	position: absolute;
    right: 0;
}
.ostyle a{
	color: white;
}

.oadd{
	width: 50px;
	height: 20px;
	cursor: pointer;
	line-height: 20px;
	background-color: #333333;
	color: white;
	text-align: center;
    font-size: 14px;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    right: 50px;
}
.open span{
	cursor: pointer;
	/*padding-left: 10px;*/
	padding-left: 5px;
	color: #2196F3;
}

.oimg span {
		display: inline-block;
		width: 60px;
		vertical-align: middle;
	}
	
	.oimg span:nth-of-type(2) {
		display: inline-block;
		width: 70px;
		white-space: normal;
	}
	
	.oimg span img {
		width: 100%;
	}
			


.ostyle span{
	display: inline-block;
	width: 50px;
	height: 20px;
	cursor: pointer;
	line-height: 20px;

	border: 1px solid #E3E3E3;
	text-align: center;
    font-size: 14px;
    padding: 5px;
    border-radius: 6px;
    
}
.ostyle span.active{
	background-color: #169bd5;
	color: white;
}
.open-zs span {
				cursor: pointer;
				padding-left: 2px;
				color: #2196F3;
			}
			
			
			
		
.color-blue{
	color:#2196F3 ;
}
.color-red{
	color: red;
}
/*.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #e4e4e4;
    line-height: 40px;
}*/
.footer {
    /*position: fixed;*/
    /* right: 0; */
    /*bottom: 0;*/
    width: 98%;
    margin: auto;
    height: 40px;
	line-height:40px;
    background-color: #e4e4e4;


}
/*.page{
    float: right;
    margin-right: 15px;
}*/

.more{
	display: inline-block;
	margin-left: 10px;
}
.more span{
	color:#169bd5;
	cursor: pointer;
}
.more span i,.more-btn em i{
	display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.more span i img,.more-btn em img{
	width: 100%;
}

.more-wrap{
    width: 98%;
    margin: auto;
    padding-bottom: 10px;
}
.more-one,.more-two,.more-three{
	margin-top: 10px;
}
.more-wrap select{
	width: 150px;
	height: 33px;
	margin-left: 5px;
}
.more-wrap input[type='text']{
	margin-left: 8px;
	/*height: 20px;*/
}
.more-wrap label{
	display: inline-block;
	margin-left: 10px;
}
.more-btn{
	width: 580px;
    text-align: right;
    margin-top: 15px;
}
.more-btn span{
	cursor: pointer;
	display: inline-block;
	width: 60px;
	height: 20px;
	padding: 5px;
	border: 1px solid #333333;
	text-align: center;
	border-radius: 6px;
	margin-left: 10px;
}
.more-btn span:nth-of-type(1){
	background-color: #333333;
	color: white;
}
.more-wrap em{
	cursor: pointer;
	margin-left: 10px;
	color: #169bd5;
}
