
			
			.fl {
				float: left;
			}
			
			.fr {
				float: right;
			}
			
			.clearfix:after,
			.clearfix:before {
				display: table;
				font-size: 0;
				content: " ";
				clear: both;
			}
			
			.clearfix {
				*zoom: 1;
			}
			
			.off {
				display: none;
			}
			
			.header {
				background-color: rgba(102, 102, 102, 1);
				/*background-color: #ec0044;*/
				color: white;
			}
			
			.header-top {
				position: relative;
				height: 60px;
				margin: auto;
			}
			
			.header-top-l,
			.header-top-r {
				height: 35px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
			}
			
			.header-top-l {
				left: 25px;
			}
			
			.header-top-r {
				right: 25px;
			}
			
			.header-top-l span,
			.header-top-r span {
				display: inline-block;
				height: 30px;
				line-height: 30px;
				text-align: center;
				padding: 2px 10px;
				vertical-align: middle;
				cursor: pointer;
			}
			
			.enable {
				background-color: #0c9;
			}
			
			.plan {
				font-size: 18px;
				vertical-align: middle;
			}
			
			.header-top-r i {
				display: inline-block;
				width: 15px;
				vertical-align: middle;
			}
			
			.header-top-r i img {
				width: 100%;
			}
			
			.close i {
				width: 20px;
				height: 24px;
			}
			
			.central {
				margin-top: 20px;
			}
			
			.central-l,
			.central-r {
				display: inline-block;
				vertical-align: top;
				margin-left: 55px;
			}
			
			.image-zoom {
				/*display: inline-block;*/
				position: relative;
			}
			
			.image-zoom .zoom {
				position: relative;
				border: 1px solid #ddd;
				width: 300px;
				height: 300px;
				overflow: hidden
			}
			
			.image-zoom .zoom img {
				display: block;
				max-width: 360px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
			
			.image-zoom .zoom .move {
				position: absolute;
				left: 0;
				top: 0;
				display: none;
				width: 195px;
				height: 195px;
				background: #000;
				opacity: 0.2;
				filter: Alpha(Opacity=20);
				z-index: 10;
			}
			
			.image-zoom .zoomDetail {
				display: none;
				border: 1px solid #ddd;
				width: 360px;
				height: 360px;
				position: absolute;
				right: -380px;
				top: 0;
				overflow: hidden;
				z-index: 99;
				background-color: #fff;
			}
			
			.image-zoom .zoomDetail .pr {
				text-align: center;
				vertical-align: middle;
			}
			
			.image-zoom .zoomDetail img {
				vertical-align: middle;
				display: inline-block;
				position: absolute;
				width: auto !important;
				max-width: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%)
			}
			
			.image-zoom-nav {
				margin-top: 10px;
				overflow: hidden;
				position: relative;
			}
			
			.image-zoom-nav span {
				position: absolute;
				display: block;
				width: 10px;
				height: 70px;
				background: #999;
				cursor: pointer;
			}
			
			.image-zoom-nav span em {
				display: none;
				width: 10px;
				height: 55px;
			}
			
			.image-zoom-nav span.btnL {
				left: 0;
				background: url(../img/sprite.png) no-repeat -460px -72px;
			}
			
			.image-zoom-nav span.btnR {
				right: 0;
				background: url(../img/sprite.png) no-repeat -480px -72px;
			}
			
			.image-zoom-nav span.hover em {
				display: block;
			}
			
			.image-zoom-nav .slideMain {
				height: 70px;
				margin: 0 26px;
				overflow: hidden;
				position: relative;
			}
			
			.image-zoom-nav .slideMain ul {
				position: absolute;
				left: 0;
			}
			
			.image-zoom-nav .slideMain ul li {
				float: left;
				margin-right: 8px;
				cursor: pointer;
				width: 68px;
				height: 68px;
				border: 1px solid #ddd;
			}
			
			.image-zoom-nav .slideMain ul li.selected {
				border-color: #ec0044;
			}
			
			.image-zoom-nav .slideMain ul li img {
				float: left;
				width: 68px;
				height: 68px;
			}
			
			.central-one,
			.central-two {
				display: inline-block;
				width: 380px;
				/*border: 1px solid black;*/
				vertical-align: top;
			}
			
			.central-one p,
			.central-two p {
				width: 380px;
				/*border: 1px solid black;*/
				padding: 15px 0;
			}
			
			.central-one p span,
			.central-two p span {
				display: inline-block;
				width: 100px;
			}
			
			.central-one p em,
			.central-two p em {
				display: inline-block;
				width: 280px;
			}
			
			.slideBox-tabs {
				width: 98%;
				margin: 20px auto;
			}
			
			.slideBox-header ul {
				/*width: 1200px;*/
				background-color: #eee;
			}
			
			.slideBox-header ul li {
				float: left;
				width: 100px;
				padding: 10px 0;
				/*border: 1px solid black;*/
				text-align: center;
			}
			
			.slideBox-header ul li.active {
				border-top: 3px solid black;
			}
			
			.slideBox-header ul li.active a {
				color: #EC0044;
			}
			
			.slideBox-header ul li a {
				display: block;
				width: 100%;
				border-left: 1px solid #BBBBBB;
				padding: 5px 0;
			}
			
			.slideBox-header ul li:first-child a {
				border-left: 0;
			}
			
			.slideBox-item {
				margin: 0 auto;
			}
			
			.oTable-one {
				margin: auto;
				margin-top: 15px;
			}
			
			.oTable-one tr td {
				width: 260px;
				padding: 10px 0;
			}
			
			.oTable-one tr td span {
				display: inline-block;
				width: 70px;
				font-size: 14px;
			}
			
			.oTable-one tr td em {
				display: inline-block;
				width: 160px;
			}
			
			.oImg {
				/*width: 98%;*/
			    margin-top: 60px;
			    margin: auto;
			}
			
			.oImg img {
				width: 100%;
			}
			/*.central{
				width: 1200px;
				height: 750px;
				max-height: 750px;
				margin-top: 5px;
			}*/
			
			.oTable-two {
				width: 100%;
				text-align: center;
				color: #0c9;
				border: 1px solid #bbbbbb;
				margin-top: 5px;
			}
			
			.oTable-two tr td {
				width: 190px;
			}
			
			.oTable-two tr td:first-child,
			.oTable-two tr td:first-child {
				width: 50px;
				height: 45px;
			}
			
			.page-bottom {
				margin-top: 20px;
				background-color: #eeeeee;
				height: 50px;
				line-height: 50px;
			}
			
			.page {
				margin-right: 15px;
			}
			
			.oTable-three {
				text-align: center;
				color: #0c9;
				border: 1px solid #bbbbbb;
				margin-top: 5px;
			}
			
			.oTable-three tr td {
				width: 202px;
			}
			
			.oTable-three tr td:first-child,
			.oTable-three tr td:first-child {
				width: 50px;
				height: 45px;
			}
			
			.oTable-four {
				text-align: center;
				color: #0c9;
				border: 1px solid #bbbbbb;
				margin-top: 5px;
			}
			
			.oTable-four tr td {
				width: 285px;
			}
			
			.oTable-four tr td:first-child,
			.oTable-four tr td:first-child {
				width: 50px;
				height: 45px;
			}